head {
    position: relative;
}


#title {
    display: inline;
    margin-left: 575px;
    color: skyblue;
    font-family: 'Yellowtail', cursive;
    font-size: 65px;   

}

body {
    background-color: salmon;
    font-family: 'Trebuchet MS';
    
}

main {
    width: 960px;
    margin-left: 30px;

}
main section p {
    font-size: 19px;
}
#cutter{
    
}
#family{
    width: 400px;
    
    margin-top: 15px;
}

#about{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    
    
}

#lilfish{
    width: 200px;
    border: 5px double rgb(130, 133, 4);
    padding: 5px 3px;
    
}

#bigfish{
    width: 600px;
    display: block;
    border: 5px double rgb(130, 133, 4);
    border-radius: 100px;
    padding: 5px 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#times {
    margin-left: 25px;
    font-size: 20px;
    margin-top: 200px;

}




h1{
    color: skyblue;
    font-family: Verdana;
    font-style: italic;
}

td{
    border: 5px solid red;
    padding: 5px;
    margin: 5px;
}
  

th{
    border: 5px solid red;
    padding: 5px;
    margin: 5px;
}

#merch button{
    float: top;

    font-family: monospace;
    font-size: 45px;
    color: rgb(16, 0, 238);
}

#switch{ font: fantasy;
        border: 2px solid greenyellow;
        background-color: blanchedalmond;
}

#boop{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#booty{
    
    bottom: 0px;
    margin-top:  200px;
}

#chinook{
    float: left;
    background-color: salmon; 
}